body {
    font-family: sans-serif;
}

/* Story */
.story {
    min-height: 100px;
}

.story-index {
    color: grey;
}

.story-summary {
    width: 600px;
    display: inline-block;
    vertical-align: top;
}

.story-title {
    font-size: 1em;
    margin-bottom: 0.5em;
}

.story .subtext {
    font-size: 0.8em;
    margin: 0 0 0 1em;
}

/* Comments */
.comment {
    margin: 0 0 0 1em;
    border-left: 1px solid grey;
}

.comment .open {
    margin: 0.5em 0;
}

.close-comment {
    cursor: pointer;
}

.comment .closed {
    font-size: 0.8em;
    padding-left: 0.5em;
    margin: 4px 0;
    cursor: pointer;
}

.comment .text {
    margin-top: 0.5em;
    padding-left: 1em;
}

/* Pagination */
.pagination {
    margin: 0.5em 0;
}
.pagination a, .pagination span {
    margin-right: 8px;
}

.pagination a:visited {
    color:blue;
}


/* Histograms */
.histogram {
    display: inline-block;
}

svg {
    font: 12px sans-serif;
}

.bar {
    cursor: pointer;
}

.bar rect {
  shape-rendering: crispEdges;
  stroke: grey;
  stroke-width: 1;
}

.bar text {
  fill: black;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* Comments tree */
.node circle {
  stroke: #ccc;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
